<p id="notice"><%= notice %></p>

<h1>Lost Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Found date</th>
      <th>Is approved</th>
      <th>Is solved</th>
      <th>Note</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lost_items.each do |lost_item| %>
      <tr>
        <td><%= lost_item.title %></td>
        <td><%= lost_item.description %></td>
        <td><%= lost_item.location %></td>
        <td><%= lost_item.found_date %></td>
        <td><%= lost_item.is_approved %></td>
        <td><%= lost_item.is_solved %></td>
        <td><%= lost_item.note %></td>
        <td><%= lost_item.user %></td>
        <td><%= link_to 'Show', lost_item %></td>
        <td><%= link_to 'Edit', edit_lost_item_path(lost_item) %></td>
        <td><%= link_to 'Destroy', lost_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lost Item', new_lost_item_path %>
